* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header_bg {
    background-color: #F2CEDA;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.item_list {
    list-style-type: none;
}

.item_link {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #150101;
    text-decoration: none;
    transition: .5s;

}

.item_link:hover {
    transition: .5s;
    color: #D23166;
}

.header_btn {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background-color: #D23166;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
    transition: .5s;
}

.bi-list {
    display: none;
    font-size: 30px;
}

.header_btn:hover {
    background-color: transparent;
    color: #D23166;
    border-color: #D23166;
    transition: .5s;
}

/* sidebar code */
.sidebar {
    width: 50%;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: -50%;
    transition: .5s;
}

.sidebar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sidebar_logo {
    width: 65px;
    position: relative;
    top: -40px;
}

.bi-x-lg {
    font-size: 25px;
    color: red;
    position: absolute;
    top: 10px;
    left: 100px;;
}
.lsjcfvf{
    margin-top: 120px;
    position: relative;
    left: -50px;
    font-size: 20px;
}
.vgwgr{
    margin-top: 200px;
    position: absolute;
    left: 30px;
    font-size: 20px;
}

@media only screen and (max-width:768px) {
    .header {
        padding: 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item {
        gap: 25px;
    }

    .header_btn {
        width: 100px;
        height: 35px;
        font-size: 12px;
        line-height: 20px;
    }

    .header_logo {
        width: 60px;
    }
}

@media only screen and (max-width:768px) {

    .header_btn,
    .navbar {
        display: none;
    }

    .bi-list {
        display: block;
    }
}

@media only screen and (max-width:400px) {
    .container {
        padding: 0px 10px;
    }
}